version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: giftcode_mysql
    restart: always
    environment:
      MYSQL_DATABASE: giftcode_db
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
